options {
	directory "/var/cache/bind";

	//security directive and forwarder
	//http://wiki.goldzoneweb.info/quelques_options_de_configuration
	allow-recursion { 127.0.0.1; };
	allow-query-cache { 127.0.0.1; };
	forwarders { {{ dnsfowarders }} };

	dnssec-validation auto;

	auth-nxdomain no;    # conform to RFC1035
	//listen-on-v6 { any; };
	listen-on { any; };
};

